#add-blog{
    text-align: center;
}

#add-blog:after{
    content: '';
    display: block;
    clear: both;
}

label {
    text-align: left;
}

textarea {
    width: 80%;
    border: none;
    resize: none;
}

textarea:focus {
    border: 3px solid #555;
    text-align: left;
}




textarea::placeholder {
    color: orangered;
    opacity: .5;
    font-family: sans-serif;
    font-weight: bold;
}

#add-input-title {
    height: 20px;
}

#add-input-content {
    height: 100px;
}

button {
    background-color: orangered;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

button:hover {
    background-color: tomato;
}


