header {
    width: 100%;
    position: relative;
    top: 0;
    background-color: orange;
    box-shadow: inset 0px 0px 30px darkorange;
}

header a{
    color: lemonchiffon;
    font-family: helvetica;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    border-left: 5px solid lemonchiffon;
    border-right: 5px solid lemonchiffon;
    padding: 0px 15px;
}

header a:hover{
    text-decoration: underline;
}

header a:visited{
    
    color:lemonchiffon;
}
  
nav {
    padding: 10px;
    margin: 0 auto;
}

nav > ul {
    width: 30%;
    margin: 10px auto;
    text-align: center;  /* center */
}
  
nav > ul > li {
    display: inline-block; /* list horizontally*/
    padding: 10px;  /* padding between li*/
    margin: 0 auto;
}

/* IE6 */
nav > ul > li {
    _display: inline; 
  }