header {
    position: relative;
    top: 0;
}

header a{
    color: goldenrod;
    font-family: helvetica;
    text-decoration: none;
    text-transform: uppercase;
}

header a:hover{
    text-decoration: underline;
}

a:visited{
    
    color: goldenrod;
}
  
nav {
    padding: 10px;
    margin: 0 auto;
}

nav > ul {
    width: 30%;
    margin: 10px auto;
    text-align: center;  /* center */
}
  
nav > ul > li {
    display: inline-block; /* list horizontally*/
    padding: 10px;  /* padding between li*/
    margin: 0 auto;
}

/* IE6 */
nav > ul > li {
    _display: inline; 
  }