.current {
  display: none;
}


#wrapper {
  background-color: transparent;
  box-shadow: none;
  border: none;
  max-width: 1280px;
}

#page-banner {
  background-color: transparent;
  border-radius: 1rem;
  width: 40%;
  margin: 0px auto;
  border-left: 10px solid orange;
  border-right: 10px solid orange;
}

.delete{
  float: right;
  background: tomato;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.delete:hover{
  background: red;
}

.date{
  color: darkgoldenrod;
  float: right;
  padding: 6px;
  margin: 0 1rem;
}

.author{
  color: tomato;
}

.name{
  font-weight: bold;
}

#blog-list ul{
  list-style-type: none;
}

#blog-list li{
  text-align: left;
  padding: 20px;
  border-left: 5px solid darkgoldenrod;
  margin: 20px 10px;
  background-color: lightyellow;
  -webkit-box-shadow: 6px 13px 12px -4px rgba(0,0,0,0.21);
  -moz-box-shadow: 6px 13px 12px -4px rgba(0,0,0,0.21);
  box-shadow: 6px 13px 12px -4px rgba(0,0,0,0.21);
  border-radius: 1rem;
}

#blog-list li:hover  {
  border-color: orangered;
  cursor: pointer;
}

#onlyme {
  display: inline-block;
  width: 80%;
  padding: 10px;
  margin: 20px;
  margin-left: 70px;
  text-align: center;
}


#search-blogs input[type=text]{
  display: inline-block;
  width: 80%;
  padding: 10px;
  margin: 20px;
  border: none;
  
}

#search-blogs input[type=text]:focus{
  border-bottom: 2px solid tomato;
  
}

#new-button {
  font-size: 2rem;
  display:inline-block;
  padding:0.3rem 1.2rem;
  margin:0 0.1rem 0.1rem 0;
  border-radius: 2rem;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  color:tomato;
  text-shadow: 0 0.04rem 0.04rem rgba(0,0,0,0.35);
  text-align:center;
  background-color: lemonchiffon;
  box-shadow: 6px 13px 12px -4px rgba(0,0,0,0.21);
}

#new-button:hover {
  border:0.16rem solid tomato;
  font-size: 2.2rem;
}

#new-button:active{
   border:0.16rem solid tomato;
  font-size: 2.2rem;
}

@media all and (max-width:30em){
  #new-button{
    display:block;
    margin:0.4rem auto;
  }
}
