#wrapper {
    background-color: lemonchiffon;
    margin: 30px auto;
    border-radius: 1rem;
}

#blog-title h1{
    width: 100%;
    text-align: center;
    margin: 10px;
    color: black;
    font-family: cursive;

    /*shadow*/
    text-shadow: 
    4px 4px 0px #d5d5d5, 
    7px 7px 0px rgba(0, 0, 0, 0.2);
}

#blog-button {
    padding: 10px;
    position: relative;
    margin: 10px;
    text-align: right;
}

#blog-content {
    margin: 50px;
    font-size: 1.4rem;
}

#blog-author {
    color: tomato;
    margin: 50px;
    font-size: 1.4rem;
    text-align: right;
}

#delete-view-blog{
    display: inline-block;
    background:tomato;
    padding: 6px;
    border-radius: 4px;
    margin: 15px;
    cursor: pointer;
    color: white;
  }
  
#delete-view-blog:hover{
    background:red;
}

#edit-view-blog{
    display: inline-block;
    background:tomato;
    padding: 6px;
    border-radius: 4px;
    margin: 15px;
    cursor: pointer;
    color: white;
  }
  
#edit-view-blog:hover{
    background:red;
}